{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %}{% trans "Register" %} {{ block.super }} account{% endblock title %}
{% block content %}
<h1>{% trans "Register autoservice account" %}</h1>

<form action='' method='post'>
    {% csrf_token %}
    <div class="table-grid form-grid">
        <div><label for="username">{% trans "Username" %}:</label></div>
        <div><input type="text" name="username" value="{{ request.POST.username }}"></div>
        <div><label for="email">{% trans "Email" %}:</label></div>
        <div><input type="text" name="email" value="{{ request.POST.email }}"></div>    
        <div><label for="password">{% trans "Password" %}:</label></div>
        <div><input type="password" name="password"></div>
        <div><label for="password">{% trans "Repeat password" %}:</label></div>
        <div><input type="password" name="password2"></div>
        <div></div>
        <div><button type="submit">{% trans "Register" %}</button></div>
    </div>
</form>
<p>{% trans "Please log in" %} <a href="{% url 'login' %}">{% trans "here" %}<a/> {% trans "if you have an account" %}</p>

{% endblock content %}