{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %}{% trans "Order" %}  {{ object.id }} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Order id" %}: {{ object.id }}, {% trans "date" %}: {{ object.date }}</h1>
<p>{% trans "Date" %}: {{ object.date }}</p>
<p>{% trans "Status" %}: {{ object.get_status_display }}, {% trans "estimated" %}: {{ object.estimate_date }}</p>
<p>{% trans "Car" %}: {{ object.car }}</p>
{% for order_line in object.order_lines.all %}
    <p>{% trans "Service" %}: {{ order_line }}</p>
{% endfor %}
<p>{% trans "Total price" %}: {{ object.total }} €</p>
<h3>{% trans "Reviews" %}</h3>
{% if user.is_authenticated %}
    <div class="review-form">
        <p>{% trans "Please leave comments here" %}:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">{% trans "Post review" %}</button></p>
        </form>
    </div>
{% endif %}
{% if order.reviews %}
    {% for review in order.reviews.all %}
        <div class="review-form">
        {% if review.user.profile.photo %}
                <img class="img-review bold" src="{{ review.user.profile.photo.url }}">
        {% endif %}
        {{ review.user }}
        <spam class="float-right">{{ review.create_at }}</spam>
        <p>{{ review.comments }}</p>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}
