{% extends 'autoservice/base.html' %}
{% block title %}My order in {{block.super}}{% endblock title %}
{% block content %}
<h1>My orders</h1>
<div class="table-grid my-order-table">
    <div class="table-grid-cell center dark">Car owner</div>
    <div class="table-grid-cell center dark">Licence plate</div>
    <div class="table-grid-cell center dark">Due date</div>
    <div class="table-grid-cell center dark">Status</div>
    {% for order in orders_list %}
        <div class="table-grid-cell">{{ order.car.client }}</div>
        <div class="table-grid-cell">{{ order.plate }}</div>
        <div class="table-grid-cell center{% if order.is_expired_date %} overdue{% endif %}">{{ order.etimate_date }}</div>
        <div class="table-grid-cell center{% if order.is_expired_date %} overdue{% endif %}">{{ order.get_status_display }}</div>
    {% endfor %}
</div>
{% endblock content %}