{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %}{% trans "Updating in" %}  {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Updating order info" %}</h1>
{% if action %}
    <p>{{ action }}
{% endif %}
<form action="" method="post">
    {% if order %}
        <p class="bold">{% trans "Your order" %}: {{ order.car }}</p>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <p>{% trans "Click the button to pay for your order" %}
        <button type="submit">{% if action %}{{ action }}{% endif %}{% trans "Pay" %}</button>
    </p>
</form>
{% endblock content %}